<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		{% include "components/header.njk" %}
		<section class="main-container">
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
	</section>
	</body>

</html>
